<!DOCTYPE html>
<html>
<head>
  <title>YouTube to MP3</title>
</head>
<body>
  <h1>YouTube to MP3</h1>
  <form action="" method="post">
    <label for="playlist_url">Enter playlist URL:</label>
    <input type="text" id="playlist-url" name="playlist_url" />
    <button type="submit" id="convert-btn">Download</button>
  </form>
  <div id="output"></div>
  <div id="progress-bar">
    <progress id="progress" value="0" max="100"></progress>
    <span id="progress-text">0%</span>
  </div>
  <script src="script.js"></script>
</body>
</html>